body {
  font-family: sans-serif;
}
img {
  float: left;
  width: 45%;
}
main {
  width: 90%;
  margin: 0 auto;
}
section {
  width: 50%;
  float: right;
}
#orders {
  text-align: center;
  width: auto;
  display: block;
}
.bubble {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid black;
  float: right;
  position: relative;
  border-radius: 7px;
  width: 100%;
}
.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 10px 15px 10px 0;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
margin-top: -10px;
left: -15px;
top: 25%;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 10px 15px 10px 0;
border-color: transparent #000;
display: block;
width: 0;
z-index: 0;
margin-top: -10px;
left: -16px;
top: 25%;
}
/*With help from http://ilikepixels.co.uk/drop/bubbler/*/
