body {
  font-family: sans-serif;
}
main {
  width: 70%;
  margin: 0 auto;
}
img {
  border-radius: 10px;
}
#dennis {
  float: left;
  width: 45%;
  margin-bottom: 2em;
}
#arthur {
  float: right;
  width: 45%;
  clear: both;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
#orders {
  float: left;
  background-color: #f2f2f2;
}
.dbubble {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid black;
  float: right;
  position: relative;
  border-radius: 7px;
  width: 50%;
}
.dbubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -10px;
  left: -15px;
  top: 40%;
}

.dbubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #000;
  display: block;
  width: 0;
  z-index: 0;
  margin-top: -10px;
  left: -16px;
  top: 40%;
}

.abubble {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid black;
  float: left;
  position: relative;
  border-radius: 7px;
  width: 50%;
}
.abubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent #f2f2f2;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -10px;
  right: -15px;
  top: 40%;
}

.abubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent #000;
  display: block;
  width: 0;
  z-index: 0;
  margin-top: -10px;
  right: -16px;
  top: 40%;
}
/*With help from http://ilikepixels.co.uk/drop/bubbler/*/
